{% extends 'base.html'%}
{% load static %}
{% load blog_extras %}

{% block content %}
    <section id="landing">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <img src="{% static 'images/logo.webp' %}" alt="Large Logo"  id="landinglogo">
                    </div>
                    <div class="row">
                        <div >
                            <h1 class="handwriting text-center" id="landinghello"> 
                                <span>Hi there, I'm Anna</span> <br>
                                <span> and I'm your new coach.</span></h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="d-flex justify-content-end d-none d-md-block">
                        <img src="{% static 'images/whiteboard.webp' %}" alt="Whiteboard Woman"  class="landingimage1 landingimage">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="coachdescription">
        <div class="container-fluid">
            <div class="row">
                <div class="col m-4 p-md-5 browncolor" >
                    <h1 class="handwriting text-wrap text-center" id="coachintro"> 
                        I became a life and business coach in 2021,  
                        after a period of deep questioning during the Pandemic. 
                        Since then, I have helped countless individuals find their 
                        strength to peruse and achieve  their core dreams.
                    </h1>
                    <h4 class='inter d-none text-end'>
                        Find out more about my story <a href="#" class="text-reset text-decoration-none"><strong>here</strong></a>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col coachdescriptiondiv m-4 p-5 browncolor libre-baskerville-regular text-start" >
                    <h1 class="libre-baskerville-bold p-1"> coach</h1>
                    <div class="p-2" id="coachdef"> 
                        <h2 class="libre-baskerville-bold">[kōch] · noun English</h2>
                        <h3> 
                        a passionate and dedicated person who unlocks hidden potential 
                        and maximizes performance by encourraging, developing and belieiving.
                        </h3>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <section id="coachingservices">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center coachingservicesdiv">
                <div class="row d-flex align-items-center ">
                    <h2 class="libre-baskerville-regular text-center p-5"> My services </h2>
                    <div class="row gx-md-5 align-items-center justify-content-around">
                        <div class="col-md-6 h4 libre-baskerville-regular px-5">
                            <ul>
                                <li>goal tracking</li>
                                <li>business design</li>
                                <li>accountability</li>
                                <li>life-balance analysis</li>
                                <li>personality assesment</li>
                            </ul>
                        </div>
                        <div class="col-md-6 h4 text-center inter">
                            <p>I am an EMCC accredited Executive Coach and a faculty member 
                                at Kingstown College. I have over three decades of experience 
                                in Business Mentoring and Consultancy, Personal and Professional 
                                Coaching, and Community Development Programmes.</p>
                        </div>
                    </div>
                </div>
                <div class="row handwriting m-4 text-center d-flex align-items-stretch justify-content-center">
                    <div class="col-md-4 d-none ">
                        <div class="servicesbutton m-2 rounded-pill">
                            <a href="#" class="buttonbrowncolor btn btn-lg m-2" >more about me</a>
                        </div>
                        
                    </div>
                    <div class="col-md-4 d-none">
                        <div class="servicesbutton  m-2 rounded-pill"><a href="#" class="buttonbrowncolor btn btn-lg m-2" >all my services</a></div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="servicesbutton  m-2 rounded-pill"><a href="{% url 'inquiry' %}" class="buttonbrowncolor btn btn-lg m-2" >inquire</a></div>
                    </div>
                </div>
                
                
                <div class="row p-2 mt-5 d-flex justify-content-center">
                    <h2 class="libre-baskerville-regular text-center"> What my clients have said...</h2>
                    <div class="row testimonialdiv border-0 rounded-pill">
                        {% for testimonial in testimonials %}
                        <div class="p-4 mySlides">
                            
                            <div class="row d-flex h-100 align-content-center flex-wrap text-center justify-content-center libre-baskerville-regular">
                                <div class="w-100 h3 text-center"><p >{{ testimonial.get_service_display}}</p></div>
                                <div class="col-md-5 d-flex align-items-center mt-3">
                                    <div class="w-100 h4 ">{{testimonial.testimonial| safe}}</div>
                                </div>
                                <div class="col-md-5 d-flex align-items-center mt-3">
                                    <div class="w-100 h4  libre-baskerville-regular-italic"><p>{{testimonial.name}}, {{ testimonial.age }}, {{ testimonial.extra_detail }}</p></div>    
                                </div>
                            </div>                    
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="contentlanding">
        <div class="row d-flex p-3"> 
            <div class="col-md-6 d-flex justify-content-center mt-2">
                <div class="video-wrapper" style="position: relative; width: 100%; padding-bottom: 56.25%; height: 0;">
                    <div class="video-placeholder" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer;" onclick="loadVideo()">
                        <img src="https://img.youtube.com/vi/VIDEO_ID/hqdefault.jpg" alt="Video Thumbnail" style="width: 100%; height: 100%; object-fit: cover;">
                        <div class="play-button" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 64px; height: 64px; background: rgba(0, 0, 0, 0.5); border-radius: 50%; display: flex; align-items: center; justify-content: center;">
                            <svg width="24" height="24" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8 5v14l11-7z"></path></svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center mt-3">
                <div class="m-2 p-2 text-center text-wrap libre-baskerville-regular d-none d-md-block">
                    <h4>
                        <span>Looking for inspiration? </span>
                        <br>
                        <span >Watch my Youtube Videos
                        
                            and power up your day!</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 text-center d-flex flex-column justify-content-center">
                <h1>Read my most recent blog post! </h1>
                <h2>Or view my other posts <a  href="{% url 'blog' %}" class="text-decoration-none text-muted">here</a> </h2>
            </div>

            <div class="col-md-6 d-flex text-center align-items-center justify-content-center">
                <div class="card mb-4">
                    <div class="card-body">
                        {% get_recent_blog_posts as recent_posts %}
                        {% for post in recent_posts %}
                        <div class="d-flex">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="card-img-top blogpostlist_image" src="{% static 'images/bwlandingimage.webp' %}"
                                alt="placeholder image">
                            {% else %}
                            <img class="card-img-top blogpostlist_image" src=" {{ post.featured_image.url }}"
                                alt="{{ post.title }}">
                            {% endif %}
                            <div class="image-flash">
                                <h1 class=" text-white">{{ post.title }}</h1>
                            </div>
                        </div>
                        <a href="{% url 'blogpost' post.slug %}" class="post-link">
                            <p class="card-text"> {{ post.excerpt |truncatewords:20|slice:":-1" }}.. <strong>read more</strong> </p>
                        </a>
                        <hr>
                        <p class="card-text text-muted h6">{{ post.created_on}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            

        </div>
        
    </section>
{% endblock %}

{% block extras %}
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        function loadVideo() {
            const placeholder = document.querySelector('.video-placeholder');
            placeholder.innerHTML = '<iframe class="embed-responsive-item video" width="100%" height="100%" src="https://www.youtube.com/embed/VIDEO_ID?autoplay=1" allowfullscreen></iframe>';
        }
    </script>
{% endblock %}

