{% extends 'base.html'%}
{% load static %}
{% load blog_extras %}
{% block content %}
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <section id="landing">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <img src="{% static 'images/logo.png' %}" alt="Large Logo"  id="landinglogo">
                    </div>
                    <div class="row">
                        <div >
                            <h1 class="handwriting text-center" id="landinghello"> 
                                <span>Hi there, I'm Anna</span> <br>
                                <span> and I'm your new coach.</span></h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="d-flex justify-content-end d-none d-md-block">
                        <img src="{% static 'images/whiteboard.png' %}" alt="Whiteboard Woman"  class="landingimage1 landingimage">
                    </div>
                    <div class="d-none">
                        <img src="{% static 'images/bwlandingimage.png' %}" alt="Black and White image"  class="landingimage2 landingimage">
                    </div>
                    <div class="d-none">
                        <img src="{% static 'images/landingimage3.png' %}" alt="Typing and coffee"  class="landingimage3 landingimage">
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="coachdescription">
        <div class="container-fluid">
            <div class="row">
                <div class="col m-4 p-md-5 browncolor" >
                    <h1 class="handwriting text-wrap text-center" id="coachintro"> 
                        I became a life and business coach in 2021,  
                        after a period of deep questioning during the Pandemic. 
                        Since then, I have helped countless individuals find their 
                        strength to peruse and achieve  their core dreams.
                    </h1>
                    <h4 class='inter text-end'>
                        Find out more about my story <a href="#" class="text-reset text-decoration-none"><strong>here</strong></a>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col coachdescriptiondiv m-4 p-5 browncolor libre-baskerville-regular text-start" >
                    <h1 class="libre-baskerville-bold p-1"> coach</h1>
                    <div class="p-2" id="coachdef"> 
                        <h2 class="libre-baskerville-bold">[kōch] · noun English</h2>
                        <h3> 
                        a passionate and dedicated person who unlocks hidden potential 
                        and maximizes performance by encourraging, developing and belieiving.
                        </h3>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <section id="coachingservices">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center coachingservicesdiv">
                <div class="row d-flex align-items-center ">
                    <h2 class="libre-baskerville-regular text-center p-5"> My services </h2>
                    <div class="row gx-md-5 align-items-center justify-content-around">
                        <div class="col-md-6 h4 libre-baskerville-regular px-5">
                            <ul>
                                <li>goal tracking</li>
                                <li>business design</li>
                                <li>accountability</li>
                                <li>life-balance analysis</li>
                                <li>personality assesment</li>
                            </ul>
                        </div>
                        <div class="col-md-6 h4 text-center inter">
                            <p>I am an EMCC accredited Executive Coach and a faculty member 
                                at Kingstown College. I have over three decades of experience 
                                in Business Mentoring and Consultancy, Personal and Professional 
                                Coaching, and Community Development Programmes.</p>
                        </div>
                    </div>
                </div>
                <div class="row handwriting m-4 text-center d-flex align-items-stretch justify-content-center">
                    <div class="col-md-4 ">
                        <div class="servicesbutton rounded-pill">
                            <a href="inquiry.html" class="buttonbrowncolor btn btn-lg m-2" >more about me</a>
                        </div>
                        
                    </div>
                    <div class="col-md-4 ">
                        <div class="servicesbutton rounded-pill"><a href="inquiry.html" class="buttonbrowncolor btn btn-lg m-2" >all my services</a></div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="servicesbutton rounded-pill"><a href="inquiry.html" class="buttonbrowncolor btn btn-lg m-2" >inquire</a></div>
                    </div>
                </div>
                
                
                <div class="row p-2 mt-5 d-flex justify-content-center">
                    <h2 class="libre-baskerville-regular text-center"> What my clients have said...</h2>
                    <div class="row testimonialdiv border-0 rounded-pill">
                        {% for testimonial in testimonials %}
                        <div class="p-4 mySlides">
                            
                            <div class="row d-flex h-100 align-content-center flex-wrap text-center justify-content-center libre-baskerville-regular">
                                <div class="w-100 h3 text-center"><p >{{ testimonial.get_service_display}}</p></div>
                                <div class="col-md-5 d-flex align-items-center mt-3">
                                    <div class="w-100 h4 "><p >{{testimonial.testimonial| safe}}</p></div>
                                </div>
                                <div class="col-md-5 d-flex align-items-center mt-3">
                                    <div class="w-100 h4  libre-baskerville-regular-italic"><p >{{testimonial.name}}, {{ testimonial.age }}, {{ testimonial.extra_detail }}</p></div>    
                                </div>
                            </div>                    
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="contentlanding">
        <div class="row d-flex p-3"> 
            <div class="col-md-6 d-flex justify-content-center mt-2">
                <div class="video-wrapper">
                    <iframe class="embed-responsive-item video"  src="https://www.youtube.com/embed/VIDEO_ID" allowfullscreen></iframe>
                </div>
            </div>
            
            <div class="col-md-6 d-flex align-items-center mt-3">
                <div class="m-2 p-2 text-center text-wrap libre-baskerville-regular d-none d-md-block">
                    <h4>
                        <span>Looking for inspiration? </span>
                        <br>
                        <span >Watch my Youtube Videos
                        
                            and power up your day!</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="row d-flex mt-2 p-2 ">
            <div class="col libre-baskerville-regular">
                <h1 class='m-2 d-none d-md-block text-center'> Read my most recent blog post: </h1>
                <div class="col-md-6 ">
                    {% get_recent_blog_posts as recent_posts %}
                    {% for post in recent_posts %}
                    <div class="rounded-pill blog_post_tease m-2 p-2">
                        <div class="col d-flex flex-column align-items-center mt-3">
                            <div class="row"><h1> {{post.title}}</h1></div>
                            <div class="row"><p>{{ post.excerpt }}</p></div>
                            <div class="row">
                                <a href="{% url 'blogpost' post.slug %}">..... read more -></a>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                </div>
                
            </div>
        </div>
            
        </div>
    </section>
</body>
</html>

{% endblock %}
{% block extras %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}

