
body{
    background-color: white;
}

/* navbar */
#dropdowndiv{
    position: relative;
}

.nav-item{
    padding-right: 8px;
    font-size: 1.2rem;
    font-weight: 200;
}

.nav-link:hover{
    color: white !important;
}

#logo {
    max-width: 18%;
    max-height: 18%;
}


.navbar{
    background-color: #C20808;
}
