
body{
    background-color: white;
}

/* navbar and footer*/
#dropdowndiv{
    position: relative;
}

.nav-item{
    padding-right: 8px;
    font-size: 1.2rem;
    font-weight: 200;
}

.nav-link:hover{
    color: white !important;
}

#logo {
    max-width: 18%;
    max-height: 18%;
}


.navbar{
    background-color: #C20808;
}

.footer {
    background-color: #C20808; /* Ensure the footer has a background color */
    color: #fff; /* Text color */
}

/* landing */

#landing{
    background-color: #C20808;
}

.handwriting{
    font-family: "Zeyada", cursive;
}

.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}
  
.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 200;
    font-style: italic;
}


.inter{
    font-family: "Inter";
}

#landinghello{
    font-size: 2.8rem;
    color: white;
}

#landinglogo{
    width: 100%;
    padding: 10%;
}

.landingimage{
    width: 70%
}

.landingimage1{
    z-index: 1; /* Ensure this image is behind the other */
}

#landingimage2{
    z-index: 2; /* Ensure this image is behind the other */
    top: 30%;
    left: 55%;
}

#landingimage3{
    z-index: 3; /* Ensure this image is behind the other */
}

/*coach intro*/

#coachdescription{

}

.coachintrodiv{
    margin: 4%;
    padding: 2%;
    color: #3F0404;
}

#coachintro{
    font-size: 2rem;
}

.coachdescriptiondiv{
    margin: 4%;
    padding: 2%;
    color: #3F0404;
    background-color: #FDF0D5;
}

#coachdef{
    font-size: 1.5rem;

}

p a{
    text-decoration: none; 
}

/* services*/

.coachingservicesdiv{
    background: linear-gradient(#003049, #CDDEE9);
    color: white;
    font-size: 1rem;
    padding: 2%;
}

.coachingservicesinnerdiv{
    padding: 4%;
}

.servicesbutton{
    color: #712222;
    border-color: #669BBC;
    font-size: 1.5rem;
    background-color: #669BBC;
}

.btn-outline-primary:active {
    color: #fff;
    background-color: #669BBC;
    margin: 2%;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #669BBC;
}

.title{
    color:#1079BA;
    text-align: center;
}

.clientdiv{
    padding: 5%;
}

.testimonialdiv{
    background-color: #669bbc54;
    border-radius: 25px;
    padding: 10%;
    height: 50%;
    width: 90%;
    margin: 5%;
    flex: 1; /* ensures the containers are equal height */
    min-height: 300px;
}

.mySlides {display:none;}

.testimonial-row {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* ensures all children have the same height */
}

.service{
    background-color: #0030494a;
    border: solid;
    border-radius: 25px;
    height: 50%;
    width: 90%;
    margin: 5%;
    padding: 5%;
    text-align: center;
}

/* conent section */ 

.embedded{
    margin: 2%;
    flex-grow: 1;
}

.embeddedcomment{
    padding: 2%;
    text-align: center;
    margin: 2%;
}

.blog_post_tease{
    padding: 5%;
    margin: 5%;
    border-radius: 10%;
    background-color: grey;
}

.blog_post_tease a{
    color: black;
    text-decoration: none;
}

/* blog post CSS adapted from Code Institute.*/

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #C20808;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.card-text {
    color: grey;
}

.blogpostlist_image{
    height: 200px;
    width: auto;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #3F0404;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-height: 100%;
    margin: 2%;
    padding: 2%;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    height: 25vh;
}

.masthead-text {
    background-color: #FFF9EC;
    color: #212529;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

/*.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}*/

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #C20808;
}

.post-title {
    padding: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #C20808;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #C20808;
}

.btn-like:hover,
.btn-like:active {
    color: #C20808;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.comments{
    border: solid 0.5px;
    border-color: lightgrey;
}

.commentdiv{
    overflow-y: auto;
    height: 30vh;
    border: solid grey;
}
/* divs in blog would overlap on navbar -- this fixes it. */
.image-container, .image-flash {
    position: relative; /* Ensure correct stacking context */
}
