{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- blogadmin_base ends -->
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-2 d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <div class="border border-dark p-2 m-2">
                        <h2> welcome back {{ user.username }}</h2>
                    </div>
                    <ul class="nav flex-column">
                        <!-- Dashboard Link -->
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'admin' %}">
                                <i class="fas fa-tachometer-alt"></i>
                                Blogging Dashboard
                            </a>
                        </li>

                        <!-- Blog Posts Link -->
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'manage_posts'%}">
                                <i class="fas fa-blog"></i>
                                Manage Blog Posts
                            </a>
                        </li>

                        <!-- Create Blog Post Link -->
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'create_post'%}">
                                <i class="fas fa-plus"></i>
                                Create Blog Post
                            </a>
                        </li>

                        <!-- Manage Comments Link -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'comments_admin' %}">
                                <i class="fas fa-comments"></i>
                                Manage Comments
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'inquiry_list' %}">
                                <i class="fa fa-envelope"></i>
                                Inquiries
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- Sidebar -->

            <div class="col-md-9 ms-sm-auto col-lg-10 px-4">
                        {% block blog_content %}
                        <!-- Content Goes Here -->
                        {% endblock %}
            </div>
        </div>
    </div>
    <!-- blogadmin_base starts -->
{% endblock %}