{% extends "blog/blog_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block blog_content %}
{% load blog_extras %}

<div class="row">
    {% for post in post_list %}
    <div class="col-md-4">
        <div class="card mb-4">
            <div class="card-body">
                <div class="image-container">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="card-img-top blogpostlist_image" src="{% static 'images/bwlandingimage.png' %}"
                      alt="placeholder image">
                    {% else %}
                    <img class="card-img-top blogpostlist_image" src=" {{ post.featured_image.url }}"
                      alt="{{ post.title }}">
                    {% endif %}
                    <div class="image-flash">
                        <h2 class="author">Author: {{ post.author }}</h2>
                        <div class=" d-none fill img-fluid">
                            {% if post.mastimage %}
                            <img class='blogpostlist_image' src="{{ post.mastimage.url }}" alt="Mast Image">
                            {% else %}
                            <img class='blogpostlist_image' src="{% static 'images/whiteboard.png' %}" alt="Mast Image">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <a href="{% url 'blogpost' post.slug %}" class="post-link">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <p class="card-text"> {{ post.excerpt |truncatewords:20|slice:":-1" }}.. <strong>read more</strong> </p>
                </a>
                <hr />
                <p class="card-text text-muted h6">{{ post.created_on}}</p>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">
    {% endif %}
    {% endfor %}

</div>

{% endblock %}