{% extends "blog/search_posts.html" %}
{% load static %}
{% load blog_extras %}

{% block recent_post_html %}
<div class="row d-flex ">
    <div class="col libre-baskerville-regular">
        <p>hi</p>
        {% get_recent_blog_posts as recent_posts %}
        {% for post in recent_posts %}
        <h1 class='m-2 d-none d-md-block'> Read my most recent blog post: </h1>
        <div class="blog_post_tease">
            <h1> {{post.title}}
            </h1>
            <p> 
                {{ post.excerpt }}
            </p>
            <a href="{% url 'blogpost' post.slug %}">..... read more -></a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}